@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}




/* Hero circular spin */
.circle-text{
  -webkit-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* .wave-clip {
  clip-path: path("M100 200 Q150 50 200 200 T300 200 T400 200 T500 200 T600 200 T700 200 T800 200 T900 200 V1000 H0 Z");
}

@keyframes wave {
  0%, 10% {
    clip-path: path("M100 200 Q150 50 200 200 T300 200 T400 200 T500 200 T600 200 T700 200 T800 200 T900 200 V1000 H0 Z");
  }
  90% {
    clip-path: path("M100 220 Q150 70 200 220 T300 220 T400 220 T500 220 T600 220 T700 220 T800 220 T900 220 V1000 H0 Z");
  }
}

.wave-clip {
  animation: wave 3s infinite ease-in-out;
} */
